.nav-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5rem 0 0 0;
}

.banner-buttons {
    display: flex;
    justify-content: space-around;
}

body {
    width: 1800px;
    margin: 0 auto!important;
}